body{
    background-image: url("1.jpg");
    color: white;
    background-attachment: fixed;
}

td{
    padding: 1%;
}

.table{
    width: 95%;
    height: 100%;
    margin: auto;
    text-align: center;
}

#inputxyr{
    width: 70%;
}

.header, .values, .table input, td > p, .label, #back{
    color: white;
    font-family: fantasy;
    font-weight: bolder;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-color: black;
    -moz-text-stroke-width: 1px;
    -ms-text-stroke-color: black;
    -ms-text-stroke--width: 1px;
    font-size: 25px;
    text-shadow: 1px 0 5px #C1CDC1, 2px 0 0 #C1CDC1, 4px 1px 0 #C1CDC1, 5px 2px 0 #C1CDC1, 6px 3px 0 #B0C0C0, 6px 3px 0 #B0C0C0, 6px 3px 11px #100, 1px 0 35px #F0FFF0, 6px 3px 45px #98F5FF;
}

.header.main{
    text-align:right;
}

.table.data td{
    padding: 2%;
}

.values, .label{
    text-shadow: none;
}
.radio{
    display: none;
}

#result_table{
    color: white;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}
td > p{
    text-shadow: none;
}

.values td{
    width: 33%;
}


.table input, #back{
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 0 0 0 0;
    width: 60%;
    text-align: center;

}

.table input:hover, table.data input:focus, #back:focus, #back:hover{
    box-shadow: 0 0 5px 2px white;
    outline: none;
}


.table input[type = "submit"]{
    border: none;
}


@keyframes shadow {
    from{
        fill-opacity: 0;
        stroke-opacity: 0;
    }
    to {
        fill-opacity: 100%;
        stroke-opacity: 100%;
    }
}
.figure:hover{;
    animation: shadow 700ms infinite alternate linear;
}
.figure.square:hover{
    fill: blue;
    stroke: blue;
}
.figure.circle:hover{
    fill: lightseagreen;
    stroke: lightseagreen;
}

.figure.triangle:hover{
    fill: lightgreen;
    stroke: lightgreen;
}

#result_table .values{
    word-wrap: break-word;
}

#result_table{
    table-layout: fixed;
}

.header.main::before{
    content: ' \00AE';
}
